---
layout: page
title: Bionanotech SAS
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">SERVICIOS DE TECNOLOGÍA Y <br> DESARROLLO EN LA SALUD</h1>
          <p class="animated fadeInUp">Somo expertos en el manejo y evaluación de riesgo de tecnologías emergentes para la salud, seguridad y salud ocupacional,</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>SOBRE NOSOTROS</h2>
            <p><b>Bionanotech SAS</b> se enfoca en brindar soluciones a los nuevos retos que las tecnologías emergentes ofrecen. Nuestro principal objetivo es evaluar el riesgo y mitigarlo especialmente en escenarios de alta incertidumbre.</p>
          </div>
          <p><b> Misión:</b> BioNanoTech SAS es una empresa de consultoría y desarrollo de proyectos de I+D+I en tecnologías emergentes orientadas al cuidado de la salud.</p>
          <p><b>Visión:</b> Ser la empresa líder en el sector de salud y seguridad en el trabajo en tecnologías emergentes en Colombia para el año 2025.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="/assets/images/brain.jpg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>NUESTRA EXPERIENCIA</h2>
      <p>En Bionanotech SAS somos expertos en el manejo y la evaluación de riesgo de tecnologías emergentes para la salud, seguridad y salud ocupacional. Para ello, utlizamos tecnologías de última generación como inteligencia artificial, telecomunicaciones, cloud computing y registro e interpretación de señales biológicas para crear soluciónes a la medida de nuestro clientes.</p>
      <a href="{{ site.baseurl }}/portfolio" class="btn btn-view-works">Ver experiencia</a>
    </div>
  </div>
</div>
</section>


<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>GENERAMOS SOLUCIONES EN SALUD OCUPACIONAL</h2>
        <br>
        <p>Establecemos un engranaje entre todos los actores de salud laboral. Así, integramos la Aseguradora de Riesgos Laborales (ARL), el área de Seguridad y Salud en el Trabajo (SST), las directivas y los empleados para satisfacer las necesidades de su empresa en evaluación y prevención de riesgos laborales</p>
      </div>
    </div>
  </div>
</section>

<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Servicios a su medida.</h2>
          <p>Conoce más sobre nuestra filosofía de trabajo. Juzgue por si mismo el trabajo que hemos realizado con nuestros clientes y conozca nuestro áltamente capacitado equipo de trabajo.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Cuéntenos su historia</a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Content Start
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
 -->
